name: CI
on:
  - push
  - pull_request_target

env:
  DOCKER_REGISTRY: quay.io
  ORGANIZATION: detective.solutions

jobs:
  Run-Tests:
    runs-on: ${{matrix.os}}
    strategy:
      matrix:
        os: [ubuntu-latest]
        python-version: ['3.10']

    steps:
      - name: Checkout source code
        uses: actions/checkout@v3

      - name: Set up Python ${{matrix.python-version}}
        uses: actions/setup-python@v4
        with:
          python-version: ${{matrix.python-version}}
          cache: 'pip'
          cache-dependency-path: '**/requirements.txt'

      - name: Install Python dependencies
        run: |
          python -m pip install --upgrade pip
          wget -qO- https://packages.microsoft.com/keys/microsoft.asc | sudo apt-key add -
          sudo add-apt-repository "$(wget -qO- https://packages.microsoft.com/config/ubuntu/16.04/mssql-server-2017.list)"
          cat /etc/odbcinst.ini
          sudo apt-get update
          pip install tox tox-gh-actions

      - name: Run tests
        run: tox

  Build-Docker-Image:
    runs-on: ubuntu-latest
    # Run only on manual push events
    if: github.event_name == 'push' && github.actor != 'dependabot[bot]'
    needs: [Run-Tests]

    steps:
      - name: Checkout source code
        uses: actions/checkout@v3
        with:
          token: ${{secrets.CI_GITHUB_ACCESS_TOKEN}}
          submodules: recursive

      - name: Create docker image metadata (name & tags based on branch name)
        id: image-metadata
        env:
          CURRENT_BRANCH: ${{github.ref_name}}
        run: |
          SERVICE_NAME=$(python setup.py --name)
          SERVICE_VERSION=$(python setup.py --version)
          IMAGE_NAME=${{env.DOCKER_REGISTRY}}/${{env.ORGANIZATION}}/${SERVICE_NAME}
          if [[ $CURRENT_BRANCH == 'main' ]]; then
            BASE_TAG=${IMAGE_NAME}:${SERVICE_VERSION}
            TARGET_TAGS="--tag=${BASE_TAG}"
          elif [[ $CURRENT_BRANCH == 'development' ]]; then
            BASE_TAG=${IMAGE_NAME}:${SERVICE_VERSION}
            TARGET_TAGS="--tag=${BASE_TAG} --tag=${IMAGE_NAME}:development"
          else
            # Sanitize branch name by replacing slashes with hyphens
            SANITIZED_BRANCH_NAME=${CURRENT_BRANCH//\//-}
            BASE_TAG=${IMAGE_NAME}:${SERVICE_VERSION}-${SANITIZED_BRANCH_NAME}
            TARGET_TAGS="--tag=${BASE_TAG}"
          fi
          echo "::set-output name=image-name::${IMAGE_NAME}"
          echo "::set-output name=base-tag::${BASE_TAG}"
          echo "::set-output name=target-tags::${TARGET_TAGS}"

      - name: Build fat docker image
        run: docker build -t ${{steps.image-metadata.outputs.base-tag}} .

      - name: Build & tag optimized docker images
        run: |
          curl -sL https://raw.githubusercontent.com/docker-slim/docker-slim/master/scripts/install-dockerslim.sh | sudo -E bash -
          docker-slim build \
            --http-probe=false \
            --target=${{steps.image-metadata.outputs.base-tag}} \
            ${{steps.image-metadata.outputs.target-tags}}

      - name: Login to quay.io
        uses: docker/login-action@v2
        with:
          registry: ${{env.DOCKER_REGISTRY}}
          username: ${{secrets.DOCKER_REGISTRY_USER}}
          password: ${{secrets.DOCKER_REGISTRY_TOKEN}}

      - name: Push all docker available docker tags
        run: docker push -a ${{steps.image-metadata.outputs.image-name}}
